$colorBlue: #0a2e6f;
$colorGreen: #5eff7d;
$colorOrange: #e03936;
$colorGray: #c7c7c7;
$colorYellow: #ffd700;
$colorWhite: #fff;
$colorBlack: #242424;

$smallScreenWidth: 800px;
$mediumScreenWidth: 1200px;

$spacing: 20px;
